streamlit==1.24.1

# LangChain-related
langchain==0.0.202
langchain-community==0.0.13
langchain-google-genai
langchain-huggingface

# PDF Handling
pypdf==3.10.3

# Embedding & Search
faiss-cpu==1.7.4
sentence-transformers==2.2.2

# Transformers & Torch
transformers==4.33.1
torch==2.0.1
accelerate==0.20.3
huggingface-hub==0.16.4
